<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HRMS</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>hrms.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateNewEmployeeController</servlet-name>
    <servlet-class>hrms.controller.CreateNewEmployeeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayByDateController</servlet-name>
    <servlet-class>hrms.controller.DisplayByDateController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateNewContractJoineesController</servlet-name>
    <servlet-class>hrms.controller.CreateNewContractJoineesController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayEmployeeController</servlet-name>
    <servlet-class>hrms.controller.DisplayEmployeeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateContractBillController</servlet-name>
    <servlet-class>hrms.controller.CreateContractBillController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreatePermanentJoineeController</servlet-name>
    <servlet-class>hrms.controller.CreatePermanentJoineeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateExpenseController</servlet-name>
    <servlet-class>hrms.controller.CreateExpenseController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchContractJoineeController</servlet-name>
    <servlet-class>hrms.controller.SearchContractJoineeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePinnacleEmployeeController</servlet-name>
    <servlet-class>hrms.controller.UpdatePinnacleEmployeeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEmployeePinnacleControlller</servlet-name>
    <servlet-class>hrms.controller.DeleteEmployeePinnacleControlller</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MultipleUpdateController</servlet-name>
    <servlet-class>hrms.controller.MultipleUpdateController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendingMailController</servlet-name>
    <servlet-class>hrms.controller.SendingMailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateNewEmployeeController</servlet-name>
    <url-pattern>/CreateNewEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayByDateController</servlet-name>
    <url-pattern>/DisplayByDateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateNewContractJoineesController</servlet-name>
    <url-pattern>/CreateNewContractJoineesController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayEmployeeController</servlet-name>
    <url-pattern>/DisplayEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateContractBillController</servlet-name>
    <url-pattern>/CreateContractBillController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreatePermanentJoineeController</servlet-name>
    <url-pattern>/CreatePermanentJoineeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateExpenseController</servlet-name>
    <url-pattern>/CreateExpenseController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchContractJoineeController</servlet-name>
    <url-pattern>/SearchContractJoineeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePinnacleEmployeeController</servlet-name>
    <url-pattern>/UpdatePinnacleEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEmployeePinnacleControlller</servlet-name>
    <url-pattern>/DeleteEmployeePinnacleControlller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultipleUpdateController</servlet-name>
    <url-pattern>/MultipleUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendingMailController</servlet-name>
    <url-pattern>/SendingMailController</url-pattern>
  </servlet-mapping>
</web-app>